{% extends "layout.html" %}

{% block article_body %}
<script src="https://ft-interactive.github.io/g-chartcolour/build/g-chartcolour.js"></script>
<style>
    input[type="range"]{
        width: 80%;
    }
</style>
<div class="o-grid-row main-container">
    <div class="data-visualisation graphic">
        <div>
            <p>
                If oil prices and production are favourable, Aramco could be the <a href="https://www.ft.com/content/1891e520-12ff-11e7-80f4-13e067d5072c">world's first trillion-dollar company</a>. Fine-tune the measures below to see how: 
            </p>
        </div>
        <div class="section scenarios">
            <h2 class="o-typography-heading2">Choose a scenario</h2>
            <div class="o-typography-lead--small">Each button reflects different assumptions about oil price and production, as shown below.</div>
            <div class="o-grid-row scenario-buttons">
                <div class="scenario-button--holder" data-o-grid-colspan="12 center Suncenter S4">
                    <button id="rise" class="o-buttons o-buttons--big scenario-button"
                    data-scenario="optimistic">
                            Optimistic
                    </button>
                </div>
                <div class="scenario-button--holder" data-o-grid-colspan="12 Suncenter S4">
                    <button id="same" class="o-buttons o-buttons--big o-buttons--standout scenario-button"
                        data-scenario="neutral">
                        Base case
                    </button>
                </div>
                <div class="scenario-button--holder" data-o-grid-colspan="12 Suncenter S4">
                    <button id="fall" class="o-buttons o-buttons--big scenario-button"
                        data-scenario="pessimistic">
                        Pessimistic
                    </button>
                </div>
            </div>
        </div>
        <div class="section value-visualisation">
            <h2 class="o-typography-subhead">See the value rise and fall </h2>
            <div class="o-typography-lead--small">Largest companies by market cap ($bn)*</div>
            <svg preserveAspectRatio="none"></svg>
            <footer class="o-typography-footer"></footer>
        </div>
        <div class="section controls-oil">
            <h2 class="o-typography-heading2">Or input your own predictions</h2>
            <div class="o-typography-lead--small">Oil price - click on the chart to change ($ a barrel)</div>
        </div>

        <div class="section controls-tax">
            <div class="o-typography-lead--small">Oil production - click on a button to change (million barrels a year)</div>
            <div class="o-grid-row oilprod-buttons">
                <div class="oilprod-button--holder" data-o-grid-colspan="4">
                    <button class="o-buttons o-buttons--big oilprod-button" data-oilprod="9">
                        9
                    </button>
                </div>
                 <div class="oilprod-button--holder" data-o-grid-colspan="4">
                    <button class="o-buttons o-buttons--big oilprod-button" data-oilprod="10">
                        10
                    </button>
                </div>
                 <div class="oilprod-button--holder" data-o-grid-colspan="4">
                    <button class="o-buttons o-buttons--big oilprod-button" data-oilprod="11">
                        11
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div>
            <p>
                Saudi Arabia’s rulers wish to restructure the economy and shift it away from the dependence on crude oil.  In seeking to create a more efficient state, the kingdom has decided to privatise and offer shares in its national champion Saudi Aramco, the state oil company. 
            </p>
            <p>
                Assuming that investors will be offered access to Saudi Arabia's huge oil reserves, Aramco should be worth a lot. It could be one of the largest listed companies in the world.
            </p>
            <p>
                The FT has estimated Aramco’s value using a financial model, and a lot of assumptions.  Its total value depends primarily on two variables: the oil price and oil production.
            </p>
            <p>
                While the oil price is important, production will matter, too. A lower tax rate, now expected to be 50%, would help pay for a dividend. Investors will probably see Aramco as an income stock, but that's a different calculation, <a href="https://www.ft.com/content/1891e520-12ff-11e7-80f4-13e067d5072c">see our article on the topic</a>.
            </p> 
            <p>
                Above you can change two variables or, choose some pre-set scenarios, to see for yourself how these affect Aramco's valuation. It has stated its plans to list 5 per cent of Aramco. 
            </p>
        </div>
    </div>
</div>
{% endblock %}
