@import 'o-colors/main';
@import 'components/core/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/

.o-typography-body-wrapper h2 {
  margin-bottom: 4px;
}

.o-typography-lead--small {
  margin-bottom: 12px;
}

.value-visualisation {
	// marketcap circles
	&__marketcap{
		fill: #26747a; 
	}
	&__main-marketcap{
		fill: rgb(215, 112, 108); 
	}
	&__main-optimistic-marketcap{
		fill: none;
		stroke: rgb(215, 112, 108);
		stroke-width: 2;
		stroke-dasharray: 10; 
	}
	&__amountLabel{
		fill: white;
		text-anchor: middle;
	}
	&__nameLabel{
    text-transform: capitalize;
	}
	&__nameLabelWhite{
		fill: white;
	}
}

.movable-chart {
	// outline: 1px solid red;

	> svg {
		// outline: 1px solid blue;
		display: block;

    & text {
      font-feature-settings:'tnum' 1;
    }
	}
  
  .axis line {
    fill: none;
    stroke: #e9decf;
    stroke-dasharray:2,1;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: #74736c;
    font-size: 16px;
    font-family: MetricWeb, sans-serif;
  }

  .axis .domain {
    stroke-width: 0;
  }

	&__dot {
		fill: white;
		stroke: #26747a;
		stroke-width: 2;
	}

	&__connecting-line {
		stroke: #26747a;
		stroke-width: 3;
	}

	&__mouse-catcher {
		// outline: 1px solid green;
	}

}
