$o-grid-is-silent: false;
@import 'o-colors/main';
@import 'components/core/main';
@import 'o-grid/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/

.o-typography-lead {
  font-size: 22px;
  line-height: 26px;
}

.o-typography-heading1 {
  font-size: 36px;
  line-height: 40px;
}


.o-typography-body-wrapper h2 {
  margin-bottom: 4px;
  margin-top: 20px;
  font-size: 24px;
}

.o-typography-lead--small {
  margin-bottom: 12px;
}

.section {
  margin-bottom: 2em;
}
.value-visualisation {
  // marketcap circles
  &__marketcap{
    fill: #74736c; 
    fill-opacity: 0.7;
    stroke-width: 2px;
    stroke: #74736c;
  }
  &__main-marketcap{
    fill: #26747a; 
    stroke: #26747a;
  }
  &__main-optimistic-marketcap{
    fill: none;
    stroke: #cec6b9;
    stroke-width: 2;
    stroke-dasharray: 8,4; 
  }
  &__amountLabel{
    fill: white;
    text-anchor: middle;
    font-size: 28px;
  }
  &__main-amountLabel{
    font-weight: 600;
  }
  &__nameLabel{
    text-transform: capitalize;
    font-size: 18px;
  }
  &__main-nameLabel{
    font-weight: 600;
  }
  &__nameLabelWhite{
    fill: white;
  }
}
.scenario-buttons {
  margin-top: 1em;
  & .scenario-button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.movable-chart {
  // outline: 1px solid red;

  > svg {
    // outline: 1px solid blue;
    display: block;

    & text {
      font-feature-settings:'tnum' 1;
    }
  }
  
  .axis line {
    fill: none;
    stroke: #e9decf;
    stroke-dasharray:2,1;
    shape-rendering: crispEdges;
  }

  .axis text {
    fill: #74736c;
    font-size: 16px;
    font-family: MetricWeb, sans-serif;
  }

  .axis .domain {
    stroke-width: 0;
  }

  &__dot {
    fill: white;
    stroke: #26747a;
    stroke-width: 2;
  }

  &__connecting-line {
    stroke: #26747a;
    stroke-width: 3;
  }

  &__mouse-catcher {
    // outline: 1px solid green;
  }

}

@include oGridRespondTo(M) {

  .o-typography-lead {
    font-size: 26px;
    line-height: 27px;
  }

  .o-typography-heading1 {
    font-size: 40px;
    line-height: 42px;
  }
}

@include oGridRespondTo(S) {
  .value-visualisation {
     &__amountLabel{
      font-size: 36px;
    }
  }
  .o-typography-body-wrapper h2 {
    font-size: 26px;
  }
}
