@import 'o-colors/main';
@import 'components/core/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/

.value-visualisation {
	// marketcap circles
	&__marketcap{
		fill: #26747a; 
	}
	&__main-marketcap{
		fill: rgb(215, 112, 108); 
	}
	&__main-optimistic-marketcap{
		fill: none;
		stroke: rgb(215, 112, 108);
		stroke-width: 2;
		stroke-dasharray: 10; 
	}
	&__amountLabel{
		fill: white;
		text-anchor: middle;
	}
	&__nameLabel{
		style: "text-anchor: middle";
	}
	&__nameLabelWhite{
		fill: white;
	}
}

.movable-chart {
	// outline: 1px solid red;

	> svg {
		// outline: 1px solid blue;
		display: block;
	}

	&__dot {
		fill: white;
		stroke: blue;
		stroke-width: 2;
	}

	&__connecting-line {
		stroke: pink;
		stroke-width: 3;
	}

	&__mouse-catcher {
		// outline: 1px solid green;
	}
}
